use_css=false
normal_color=rgb(222,221,218)
focused_color=rgb(255,120,0)
urgent_color=rgb(255,0,0)
mode_color=rgb(255,0,0)
visible_color=rgb(246,245,244)
css=.workspace { }\n.workspace.visible { }\n.workspace.focused { font-weight: bold; }\n.workspace.urgent { color: red; }\n.binding-mode { }\n
strip_workspace_numbers=true
auto_detect_outputs=false
output=

